<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.software_1.mapper.PageMapper">





    <select id="getInfoByTableName" resultType="java.util.Map">
        select * from ${tableName}
    </select>




    <select id="getInfoBySelectedFiled" resultType="java.util.Map">

    select 
        <foreach collection="params" item="param" separator=",">
            ${param}
        </foreach>

    from

        ${tableName}
    </select>

</mapper>
